@import "schared";

input{
    margin-top:10px;
    
}

#Logo{
    width: 90%;     
}

#logoBox{
    width: 90%;
    @extend .center;
}

#formBox{
    @extend .center;
    width:300px;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -60%);
    
    @include respond-to(medium) {
        width:600px;
    }
}

.alert{
    font-weight: bold;
    color:red;
}