@import "schared";


//***************************** Navbar and desktop menu *********************************************
.navbar {
    margin: 0;
    height: 42px;
    background-color: $mainGray;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 400;

    .menu {
        float: right;
        width: 65%;
       
    }

    .brand {
        margin-left: 10px;
        float: left;
        padding: 6px 0 0 0px;
        img{            
            width:100px;
        }
    }

    .brand-text {
        padding-top: 9px;
        line-height: 0.8;
        width: 45%;
        color: white;
        text-align: left;
        float: left;

        span {
            font-size: 10px;
        }
    }
}

#desktopMenu {
    
    display: none;
    list-style-type: none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;

    li {
        float: right;
    }

    li a {
        display: block;
        padding: 8px;
        color: white;
        text-decoration: none;
    }
}

#footer {
    margin: 0;
    padding: 5px 10px 5px 10px;
    background-color: #5A84AF;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 400;
    text-align: center;
    color: white;

    #navBestilling {
        float: left;
        width: 50%;
        border-right: solid rgb(150, 159, 199) 1px;
    }

    #navKontakt {
        float: left;
        width: 50%;
    }
}

#menuBestilling, #menuKontakt {
    position: fixed;
    z-index: 399;
    bottom: 20px;
    display: none;
    background-color: rgb(245, 244, 244);
    width: 100%;
    padding: 10px 0px 20px 0px;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }


    li {
        border-bottom: 1px solid rgb(228, 227, 227);
        cursor: pointer;
        padding: 7px;
    }

    li a {
        display: block;
        padding: 0px;
        color: #808080;
        text-decoration: none;
    }
}
//***************************** Mobile Menu *********************************************
#toggleMenu {
    position: absolute;
    top: 8px;
    right: 10px;
    float: right;
    margin-top: 0px;
    margin-left: 10px;
    color: white;
    font-size: 25px;
    cursor: pointer;
}

#menu-panel {
    position: relative;
    z-index: 300;
    display: none;
    background-color: rgb(245, 244, 244);
    width: 100%;
    padding: 30px 0px 20px 0px;

    #mobileMenu {
        list-style-type: none;
        padding: 0;

        li {
            border-bottom: 1px solid rgb(228, 227, 227);
            cursor: pointer;
        }

        li a {
            display: block;
            padding: 8px;
            color: #808080;
            text-decoration: none;
        }
    }
}

//***************************** Content aray *********************************************
#contentcontainer {
    @extend .center;
    width: calc(100% - 40px);
    margin: 60px 20px 0 20px;
    background-color: white;
    height: calc(100% - 60px);

    
}
#loader{
   width:50%;
   position: fixed;
   top: 50%;
   left: 50%;
   /* bring your own prefixes */
   transform: translate(-50%, -80%);
}
.fa-plus{
    cursor: pointer;
}

/*------------------ Progsam.htm ----------------------*/
.prgItemBox{
    @extend %clearfix;
    
    width: 100%;
    border-bottom: solid black 1px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: $base-font*1.3;
    padding-bottom: 3px;

    .prgItemBoxName{
        cursor: pointer;
        float: left;
        width: 75%;
    }
    .prgItemBoxEdit{
        float: right;
        width: 20%;
        color: $mainOrange;
        text-align: right;
    }
}
.wrapper{
    @extend %clearfix;
    width: 100%;    
    margin-bottom: 20px;

    #headline{
        width:80%;
        float: left;
    }

    #pgmAdd{
        text-align: right;
        width:15%;        
        float: right;
        font-size: $base-font*2;
        color: $mainOrange;
    }

    h1 {
        margin: 0px;
    }


}


/*  TABLET LANDSKAB OG LILE DESKTOP - 992px og op
        
            --------------------------------------- */

@media only screen and (min-width: 992px) {

    #toggleMenu {
        display: none;
    }

    #desktopMenu {
        display: block;
    }
      

}

//*********************** Alert ***************************

#popup{
    @extend .center;
    width: calc(100% - 80px);
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 20px;
    /* bring your own prefixes */
    transform: translate(-50%, -60%);
    background: lightgray;
    border: solid gray 1px;
    border-radius: 5px;
    min-height: 100px;
    text-align: center;
    max-width: 400px;
    
    button{
        min-width: 70px;
        margin: 10px 5px;
        padding:7px 12px;
        border: solid gray 1px;
        border-radius: 5px;
        color:white;
        background: $mainOrange;
    }

    h2{
        font-weight: bold;
        margin:10px;
        font-size: $base-font*2;
    }
    input{
        margin:10px 0;
    }

    #msg{
        height: 20px;
        color: red;
        font-weight: bold;
    }
}