@import "Grid";

$mainGray: #383838;
$mainOrange: #ff7f29;
$base-font: 1em;

html {
    font-size: 16px; /* our base font size */
}

body{
    width:100%;
    margin:0px;    
    font-size: 80%; 
    font-family: Arial, Helvetica, sans-serif;
}

%clearfix {
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }

//***************************** Text and headlines *********************************************
h1 {
    color: #5e5d5d;
    margin-top: 40px;
    font-size: $base-font*2;
}

h2 {
    color: #5e5d5d;
    font-size: $base-font*1;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.text-center{
    text-align: center;
}

input[type="text"]{
    width:calc(100% - 20px);
    padding:10px;
    border: solid gray 1px;
    border-radius: 5px;
}

input[type="password"]{
    width:calc(100% - 20px);
    padding:10px;
    border: solid gray 1px;
    border-radius: 5px;
}

input[type="submit"]{
    color: white;
    font-weight: bold;
    width:100%;
    padding:10px;
    border: solid gray 1px;
    border-radius: 5px;
    background: $mainOrange;
}

textarea{
    width:calc(100% - 20px);
    padding:10px;
    border: solid gray 1px;
    border-radius: 5px;
}
label{
    padding-top: 30px; 
    font-weight: bold;
}